<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
   <aop:aspectj-autoproxy />
   <context:component-scan base-package="com.apeny.servletjsp" />
   <!-- <bean class = "com.apeny.servletjsp.spring.bean.ArithmeticCalculatorImpl"></bean> -->
   <!--<bean id="redisHttpSessionConfiguration"
         class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration">
      <property name="maxInactiveIntervalInSeconds" value="60000"/>
   </bean>

   <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
      <property name="maxTotal" value="100" />
      <property name="maxIdle" value="10" />
   </bean>

   <bean id="jedisConnectionFactory"
         class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory" destroy-method="destroy">
      <property name="hostName" value="192.168.0.128"/>
      <property name="port" value="6379"/>
      <property name="timeout" value="3000"/>
      <property name="usePool" value="true"/>
      <property name="poolConfig" ref="jedisPoolConfig"/>
   </bean>-->
</beans>